.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    /* or dark if needed */
    backdrop-filter: blur(3px);
    /* optional blur */
}

/* Optional spinner */
.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #408CCE;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}