:root {
    --white: #fff;
    --black: #000;
    --red: red;
    --green: #3cd856;
    --_408CCE: #408CCE;
    --_4D4D4D: #4D4D4D;
    --_909090: #909090;
    --_1B59F8: #1B59F8;
    --_4A4A4A: #4A4A4A;
    --_F5F7FA: #F5F7FA;
    --_F8F9FA: #F8F9FA;
    --_ECECEC: #ECECEC;
    --_E1E7EC: #E1E7EC;
}

.filledButton {
    background-color: var(--_1B59F8);
    color: var(--white);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.filledDisabledButton {
    background-color: var(--_909090);
    color: var(--white);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.filledButton:hover {
    background-color: var(--white);
    border: 1px solid var(--_1B59F8);
    color: var(--_1B59F8);
}

.outlineButton {
    color: var(--_1B59F8);
    border: 1px solid var(--_1B59F8);
    background-color: var(--white);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.outlineDisabledButton {
    color: var(--_4D4D4D);
    border: 1px solid var(--_4A4A4A);
    background-color: var(--white);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.outlineButton:hover {
    background-color: var(--_1B59F8);
    color: var(--white);
}

.btn{
    background-color: var(--white);
    color: var(--_4D4D4D);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.btn:hover{
    background-color: var(--_E1E7EC);
    color: var(--_4D4D4D);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.completedButton {
    color: var(--white);
    border: 1px solid var(--green);
    background-color: var(--green);
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

/* .completedButton:hover {
    background-color: var(--white);
    border: 1px solid var(--green);
    color: var(--green);
} */

/* custom Scroll Bar */
.scroll-bar {
    scrollbar-width: 12px;
}

.scroll-bar::-webkit-scrollbar {
    width: 6px;
}

.scroll-bar::-webkit-scrollbar-track {
    background: var(--_F5F7FA);
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: var(--_909090);
    border-radius: 12px;
}

/* .scroll-bar::-webkit-scrollbar-thumb:hover {
    background-color: var(--_1B59F8);
} */

.pagination-icon {
    border: 1px solid var(--_E1E7EC);
    cursor: pointer;
    transition: border 0.3s ease;
}

.pagination-icon-disabled {
    background-color: #f1f3f5;
    border: 1px solid var(--_E1E7EC);
    cursor: not-allowed;
    transition: border 0.3s ease;
}

.pagination-icon:hover {
    border: 1px solid var(--_1B59F8);
}

.show-scroll-bar-overflow {
    overflow-y: hidden;
    overflow-x: hidden;
}

.show-scroll-bar-overflow:hover {
    overflow-y: auto;
}

/* Default: hide scrollbar */
.custom-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Jab mouse hover kare to scrollbar visible ho */
.custom-scroll:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--_E1E7EC); /* your blue */
  border-radius: 8px;
}

/* Loading animation for table skeleton */
@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}